{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% block title %} {{ year }}年{{ month }}月 - 文章归档 {% endblock %}

{% block content %}
    <div class="blog-post" id="post-list-container">
        <div class="page-header">
            <h1 class="page-header-title">
                <i class="fa fa-archive"></i> 归档：{{ year }}年{{ month }}月
            </h1>
            <p class="page-header-meta">共发布 {{ post_list.paginator.count }} 篇文章</p>
        </div>
        
        {% include 'post_list_partial.html' %}
    </div>
{% endblock %}