{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% block title %} {{ category.name }} - 分类文章列表 {% endblock %}

{% block content %}
    <div class="blog-post" id="post-list-container">
        <div class="page-header">
            <h1 class="page-header-title">
                <i class="fa fa-folder-open-o"></i> 分类：{{ category.name }}
            </h1>
            <p class="page-header-meta">共找到 {{ post_list.paginator.count }} 篇文章</p>
        </div>
        
        {% include 'post_list_partial.html' %}
    </div>

{% endblock %}